html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



.head {

    display: flex;
    max-width: 1448px;
    max-height: 200px;

    margin-left: auto;
    margin-right: auto;

    padding-top: 38px;
    
    padding-left: 70px;
    padding-right: 70px;

    padding-bottom: 38px;

    justify-content: space-between;

    
}


.head-content {
    display: flex;
    
}



.logo-menu, .logo, .top-side {
    display: flex;
    user-select: none;
}


.logo-picture {
    display: flex;
    width: 45.97px;
    height: 46px;
    padding-right: 15px;
}

.logo-name {
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 140%;


    letter-spacing: 0.005em;

    color: #34364A; 


    padding-right: 18px;
    
}

.menu-programs {

    display: flex;
    align-items: center;

    user-select: none;

}

.menu-programs, .menu-arrow-button, .logo:hover {
    cursor: pointer;
}

.menu-text {
    
    display: flex;

    font-family: 'Poppins', sans-serif; 
    
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;


    letter-spacing: 0.005em;

    color: #6D6D6D;

   


}

.menu-arrow {

    display: flex;

    width: 23.96px;
    height: 24px;
    /* transform: rotate(180deg); */
    
}

.arrow-animation {
    transform: rotate(180deg);
        
      
}

.menu-arrow-button {
    padding-left: 8px;
    display: flex;
    border: none;
    background-color: transparent;
}

.search-pole {
   display: flex;
   /* margin-left: auto; */
}

.search-zone {



    display: flex;
    justify-content: space-around;
    width: 404.69px;
    height: 46px;



    background: #F6F8FD;
}

.search-button {
    display: flex;
}

.search-zone-text {
    display: flex;
    align-items: center;

    padding-left: 20px;
    padding-top: 22px;
    padding-bottom: 20px;
}

.search-zone-text-into {
    
    display: flex;
    border: none;
    background-color: transparent;
    outline: none;

    width: 329.75px;
    height: 24px;

    align-items: center;

    padding: 0;


}

.search-zone-text-into::placeholder {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */


color: #6D6D6D;


    
}


.search-zone-button {
    display: flex;
    align-items: center;
    padding-right: 20px;
}




.search-zone-button-class {
    display: flex;
    width: 23.98px;
    height: 24px; 
}

.search-button {
    display: flex;
    width: 153.88px;
    height: 46px;

    margin-left: 30px;


    background: #2A9D8F;
    justify-content: space-around;

    filter: drop-shadow(0px 15px 30px rgba(120, 202, 147, 0.3));
}

.search-button:hover {
    cursor: pointer;
}

.search-button-text {

    display: flex;
    align-content: center;
    flex-wrap: wrap;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;


    letter-spacing: 0.005em;

    color: #FFFFFF;


}

.search-button-text:hover {
    cursor:pointer;
}

.top-side-border {
    display: flex;
    width: auto;
    height: 0px;


    border: 1px solid #6D6D6D;
    transform: rotate(0.08deg);

    margin-left: auto;
    margin-right: auto;
}

.top-menu {
    display: flex;
    

    margin-left: auto;
    margin-right: auto;

    max-width: 1448px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
/* identical to box height, or 30px */

    letter-spacing: 0.005em;

    color: #6D6D6D;

    padding-left: 70px;
    padding-right: 70px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.menu-home {
    cursor: pointer;
}

.menu-kemitraan {
    margin-left: 40px;
    cursor: pointer;
}

.menu-tentang {
    margin-left: 40px;
    cursor: pointer;

}
.menu-kami {
    margin-left: 40px;
    cursor: pointer;

}
.menu-post {
    margin-left: 40px;
    cursor: pointer;
}
.menu-newsletter {
    margin-left: 40px;
    cursor: pointer;
}